<div class="modal fade" id="activeModal" tabindex="-1" aria-labelledby="activeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark-5">
            <div class="modal-body">
                <div class="card overflow-auto">

                    <!-- title -->
                    <div class="d-flex">
                        <div class="flex-grow-1 card-title mt-2">{{selectedActive!=undefined?
                            (isEditing?'Update active':'#'+ selectedActive.code + ': ' + selectedActive.name):
                            'New active'}}</div>
                        <div class="close-card-button" data-bs-dismiss="modal">
                            <em class="bi bi-x"></em>
                        </div>
                    </div>

                    <!-- errors -->
                    <div *ngIf="containError" class="alert alert-danger mt-5">
                        {{messageError}}
                    </div>

                    <!-- VIEW ACTIVE -->
                    <div *ngIf="selectedActive!=undefined && !isEditing" class="container">

                        <div class="row">

                            <!-- DESCRIPTION -->
                            <div class="col-lg-12 p-3">
                                <div class="d-flex flex-wrap">
                                    <em class="bi bi-card-text my-auto" style="font-size: 20px !important;"></em>
                                    <div class="text-break my-auto mx-2">Description</div>
                                </div>
                                <div class="text-break my-auto mt-2">{{selectedActive.description}}</div>
                            </div>

                            <!-- PROPERTIES -->
                            <div class="col-lg-12 d-flex flex-wrap">

                                <div class="d-flex w-100 mt-3 mb-2">
                                    <em class="bi bi-laptop my-auto me-3"></em>
                                    <div class="m-text my-auto">Product</div>
                                </div>

                                <!-- type -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedActive.type">
                                    <div>Type: {{selectedActive.type}}</div>
                                </div>

                                <!-- company -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedActive.company">
                                    <div>Company: {{selectedActive.company}}</div>
                                </div>

                                <!-- product -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedActive.product">
                                    <div>Product: {{selectedActive.product}}</div>
                                </div>

                                <!-- version -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedActive.version">
                                    <div>Version: {{selectedActive.version}}</div>
                                </div>

                                <!-- cpe -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedActive.cpeType && selectedActive.cpe">
                                    <div class="me-2">{{selectedActive.cpeType}}:</div>
                                    <div class="text-break">{{selectedActive.cpe}}</div>
                                </div>

                                <!-- importance -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedActive.importance">
                                    <div>Importance: {{selectedActive.importance}}</div>
                                </div>

                                <!-- location -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedActive.location">
                                    <div>Location: {{selectedActive.location}}</div>
                                </div>

                                <div class="d-flex w-100 mt-4 mb-1">
                                    <em class="bi bi-clock-history my-auto me-3"></em>
                                    <div class="m-text my-auto">History</div>
                                </div>

                                <!-- creation: user + date -->
                                <div class="w-50 p-2 d-flex flex-wrap">
                                    <div class="my-auto me-2">Creation: </div>
                                    <show-user [user]="selectedActive.createdBy"></show-user>
                                    <div class="my-auto ms-2">({{getFormatedDate(selectedActive.creationDate,
                                        'HH:mm:ss dd/MM/yyyy')}})</div>
                                </div>

                                <!-- modification: user + date -->
                                <div class="w-50 p-2 d-flex flex-wrap">
                                    <div class="my-auto me-2">Modified: </div>
                                    <show-user [user]="selectedActive.modifiedBy"></show-user>
                                    <div class="my-auto ms-2">({{getFormatedDate(selectedActive.lastModification,
                                        'HH:mm:ss dd/MM/yyyy')}})</div>
                                </div>

                                <div class="d-flex w-100 mt-4 mb-2">
                                    <em class="bi bi-cart my-auto me-3"></em>
                                    <div class="m-text my-auto">Adquisition</div>
                                </div>

                                <!-- cost -->
                                <div class="w-50 d-flex p-2">
                                    <div class="me-2">Cost:</div>
                                    <div *ngIf="selectedActive.cost">{{selectedActive.cost}}</div>
                                    <div *ngIf="selectedActive.cost && selectedActive.periodicity">/</div>
                                    <div *ngIf="selectedActive.periodicity">{{selectedActive.periodicity}}</div>
                                </div>

                                <!-- startAdquisition -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedActive.startAdquisition!=undefined">
                                    <div>Start adquisition: {{getFormatedDate(selectedActive.startAdquisition,
                                        'HH:mm:ss dd/MM/yyyy')}}</div>
                                </div>

                                <!-- endAdquisition -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedActive.endAdquisition!=undefined">
                                    <div>End adquisition: {{getFormatedDate(selectedActive.endAdquisition,
                                        'HH:mm:ss dd/MM/yyyy')}}</div>
                                </div>

                                <!-- endOfLife -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedActive.endOfLife!=undefined">
                                    <div>End of life: {{getFormatedDate(selectedActive.endOfLife,
                                        'HH:mm:ss dd/MM/yyyy')}}</div>
                                </div>

                                <!-- subscriptionType -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedActive.subscriptionType">
                                    <div>Subscription type: {{selectedActive.subscriptionType}}</div>
                                </div>

                            </div>

                            <!-- USER ASSINGATIONS -->
                            <div class="col-lg-6"
                                *ngIf="selectedActive.activeUsers!=null && selectedActive.activeUsers.length!=0">

                                <div class="d-flex w-100 mt-4 mb-2">
                                    <em class="bi bi-people my-auto me-3"></em>
                                    <div class="m-text my-auto">User assignations</div>
                                </div>

                                <div class="my-2" *ngFor="let a of selectedActive.activeUsers">

                                    <!-- USER -->
                                    <div class="w-100" *ngIf="a.status">
                                        <show-user [user]="a.user"></show-user>
                                    </div>

                                    <div class="d-flex flex-wrap ms-5">

                                        <!-- STATUS -->
                                        <div class="w-50 d-flex" *ngIf="a.status">
                                            <div>Status: {{a.status}}</div>
                                        </div>

                                        <!-- SERIAL -->
                                        <div class="w-50 d-flex" *ngIf="a.serial">
                                            <div>Serial: {{a.serial}}</div>
                                        </div>

                                        <!-- IPs -->
                                        <div class="w-50 d-flex" *ngIf="a.ips">
                                            <div>IPs: {{a.ips}}</div>
                                        </div>

                                        <!-- NOTES -->
                                        <div class="w-100 mt-2" *ngIf="a.notes">
                                            <div>Notes:</div>
                                            <div class="text-break">{{a.notes}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ACTIVE CHILDRENS -->
                            <div class="col-lg-6"
                                *ngIf="selectedActive.children!=null && selectedActive.children.length!=0">

                                <div class="d-flex w-100 mt-4 mb-2">
                                    <em class="bi bi-diagram-2 my-auto me-3"></em>
                                    <div class="m-text my-auto">Childrens</div>
                                </div>

                                <div class="d-flex flex-wrap my-2 ms-5" *ngFor="let c of selectedActive.children">

                                    <!-- CODE + NAME -->
                                    <div class="w-100 d-flex" *ngIf="c.code!=undefined && c.name!=undefined">
                                        <div>#{{c.code}}: {{c.name}}</div>
                                    </div>

                                    <!-- ADD OTHER CHILDRENS -->
                                </div>
                            </div>

                            <!-- edit button -->
                            <div *ngIf="isEditable && selectedActive!=undefined" class="w-100 d-flex p-2 mt-2">
                                <button type="button" class="btn btn-secondary ms-auto d-flex" (click)="edit()">
                                    <em class="bi bi-sm bi-pencil-fill ms-auto me-2"></em>
                                    <div class="my-auto">Edit</div>
                                </button>
                            </div>

                        </div>

                    </div>

                    <!-- CREATE/UPDATE -->
                    <div *ngIf="selectedActive==undefined || (isEditable && isEditing)" class="container p-3">

                        <form class="row" [formGroup]="formActive" (ngSubmit)="uploadTask()">

                            <!-- name -->
                            <div class="col-lg-12 my-3 d-flex">
                                <div class="my-auto me-2">Name:</div>
                                <input class="form-control {{inputClass(formActive, 'name')}}" type="text"
                                    formControlName="name" maxlength="50" minlength="2" />
                                <div class="invalid-feedback" *ngIf="formActive.get('name')?.touched 
                                    && formActive.get('name')?.invalid">
                                    <div *ngIf="formActive.get('name')?.errors?.required">
                                        Cannot be empty
                                    </div>
                                    <div *ngIf="formActive.get('name')?.errors?.minlength">
                                        Must containt at least 2 characters
                                    </div>
                                    <div *ngIf="formActive.get('name')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-lg-12 my-3">
                                <div class="my-auto me-2">Description:</div>
                                <textarea class="form-control {{inputClass(formActive, 'description')}}"
                                    formControlName="description" maxlength="255" rows="2"></textarea>
                                <div class="invalid-feedback" *ngIf="formActive.get('description')?.touched 
                                    && formActive.get('description')?.invalid">
                                    <div *ngIf="formActive.get('description')?.errors?.maxlength">
                                        Only 255 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- PRODUCT -->
                            <div class="col-lg-12 d-flex mt-4 mb-2">
                                <em class="bi bi-laptop my-auto me-3"></em>
                                <div class="m-text my-auto">Product</div>
                            </div>

                            <!-- type -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">Type:</div>
                                <input class="form-control {{inputClass(formActive, 'type')}}" type="text"
                                    formControlName="type" list="typeLs" maxlength="50"/>
                                <div class="invalid-feedback"
                                    *ngIf="formActive.get('type')?.touched && formActive.get('type')?.invalid">
                                    <div *ngIf="formActive.get('type')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                                <datalist id="typeLs">
                                    <option>Hardware</option>
                                    <option>Hardware/Desktop computer</option>
                                    <option>Hardware/Laptop</option>
                                    <option>Hardware/IoT</option>
                                    <option>Hardware/Network</option>
                                    <option>Hardware/Server</option>
                                    <option>Hardware/Screen</option>
                                    <option>Hardware/Printer</option>
                                    <option>Hardware/Speakers</option>
                                    <option>Hardware/Mouse</option>
                                    <option>Hardware/Keyboard</option>
                                    <option>Hardware/Storage device</option>
                                    <option>Software</option>
                                    <option>Software/Operating system</option>
                                    <option>Software/BIOS</option>
                                    <option>Software/Application</option>
                                    <option>Software/Website</option>
                                    <option>Cloud</option>
                                    <option>Cloud/Server</option>
                                    <option>Cloud/SaaS</option>
                                    <option>Cloud/PaaS</option>
                                    <option>Service</option>
                                    <option>Other</option>
                                </datalist>
                            </div>

                            <!-- company -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">Company:</div>
                                <input class="form-control {{inputClass(formActive, 'company')}}" type="text"
                                    formControlName="company" maxlength="50"/>
                                <div class="invalid-feedback"
                                    *ngIf="formActive.get('company')?.touched && formActive.get('company')?.invalid">
                                    <div *ngIf="formActive.get('company')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- product -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">Product:</div>
                                <input class="form-control {{inputClass(formActive, 'product')}}" type="text"
                                    formControlName="product" maxlength="50"/>
                                <div class="invalid-feedback"
                                    *ngIf="formActive.get('product')?.touched && formActive.get('product')?.invalid">
                                    <div *ngIf="formActive.get('product')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- version -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">Version:</div>
                                <input class="form-control {{inputClass(formActive, 'version')}}" type="text"
                                    formControlName="version" maxlength="50"/>
                                <div class="invalid-feedback"
                                    *ngIf="formActive.get('version')?.touched && formActive.get('version')?.invalid">
                                    <div *ngIf="formActive.get('version')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- cpeType -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">CPE type:</div>
                                <select formControlName="cpeType" class="form-control {{inputClass(formActive, 'cpeType')}}">
                                    <option>CPE 2.2</option>
                                    <option>CPE 2.3</option>
                                </select>
                            </div>

                            <!-- cpe -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">CPE:</div>
                                <input class="form-control {{inputClass(formActive, 'cpe')}}" type="text"
                                    formControlName="cpe" maxlength="255"/>
                                <div class="invalid-feedback"
                                    *ngIf="formActive.get('cpe')?.touched && formActive.get('cpe')?.invalid">
                                    <div *ngIf="formActive.get('cpe')?.errors?.maxlength">
                                        Only 255 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- importance -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">Importance:</div>
                                <input class="form-control {{inputClass(formActive, 'importance')}}" type="text"
                                    formControlName="importance" list="importanceLs" maxlength="50"/>
                                <div class="invalid-feedback"
                                    *ngIf="formActive.get('importance')?.touched && formActive.get('importance')?.invalid">
                                    <div *ngIf="formActive.get('importance')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                                <datalist id="importanceLs">
                                    <option>Very high</option>
                                    <option>High</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                    <option>Very low</option>
                                </datalist>
                            </div>

                            <!-- location -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">Location:</div>
                                <input class="form-control {{inputClass(formActive, 'location')}}" type="text"
                                    formControlName="location" maxlength="50"/>
                                <div class="invalid-feedback"
                                    *ngIf="formActive.get('location')?.touched && formActive.get('location')?.invalid">
                                    <div *ngIf="formActive.get('location')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- ADQUISITION -->
                            <div class="col-lg-12 d-flex mt-4 mb-2">
                                <em class="bi bi-cart my-auto me-3"></em>
                                <div class="m-text my-auto">Adquisition</div>
                            </div>

                            <!-- cost -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">Cost:</div>
                                <input class="form-control {{inputClass(formActive, 'cost')}}" type="number"
                                    formControlName="cost" step="5" min="0" value="0" />
                                <div class="invalid-feedback"
                                    *ngIf="formActive.get('cost')?.touched && formActive.get('cost')?.invalid">
                                    <div *ngIf="formActive.get('cost')?.errors?.min">Cannot be negative</div>
                                </div>
                            </div>

                            <!-- periodicity -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">Periodicity:</div>
                                <input class="form-control {{inputClass(formActive, 'periodicity')}}" type="text"
                                    formControlName="periodicity" list="periodicityLs" maxlength="50"/>
                                <div class="invalid-feedback"
                                    *ngIf="formActive.get('periodicity')?.touched && formActive.get('periodicity')?.invalid">
                                    <div *ngIf="formActive.get('periodicity')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                                <datalist id="periodicityLs">
                                    <option>Once</option>
                                    <option>Per year</option>
                                    <option>Per month</option>
                                    <option>Per day</option>
                                </datalist>
                            </div>

                            <!-- startAdquisition -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">Start adquisition:</div>
                                <input class="form-control {{inputClass(formActive, 'startAdquisition')}}" type="datetime-local"
                                    formControlName="startAdquisition" placeholder="" min="1971-01-01"/>
                            </div>

                            <!-- endAdquisition -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">End adquisition:</div>
                                <input class="form-control {{inputClass(formActive, 'endAdquisition')}}" type="datetime-local"
                                    formControlName="endAdquisition" placeholder=""  min="1971-01-01"/>
                            </div>

                            <!-- endOfLife -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">End of life:</div>
                                <input class="form-control {{inputClass(formActive, 'endOfLife')}}" type="datetime-local"
                                    formControlName="endOfLife" placeholder="" min="1971-01-01"/>
                            </div>

                            <!-- subscriptionType -->
                            <div class="col-lg-12 d-flex my-3">
                                <div class="my-auto me-2">Subscription type:</div>
                                <input class="form-control {{inputClass(formActive, 'subscriptionType')}}" type="text"
                                    formControlName="subscriptionType" list="subscriptionTypeLs" maxlength="50"/>
                                <div class="invalid-feedback"
                                    *ngIf="formActive.get('subscriptionType')?.touched && formActive.get('subscriptionType')?.invalid">
                                    <div *ngIf="formActive.get('subscriptionType')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                                <datalist id="subscriptionTypeLs">
                                    <option>Open Source</option>
                                    <option>Free</option>
                                    <option>Freemium</option>
                                    <option>Basic</option>
                                    <option>Premium</option>
                                    <option>Pro</option>
                                    <option>Ultimate</option>
                                    <option>Monthly</option>
                                    <option>Annually</option>
                                </datalist>
                            </div>


                            <!-- USER ASSIGNATIONS -->
                            <div class="col-lg-12 d-flex mt-4 mb-2">
                                <em class="bi bi-people my-auto me-3"></em>
                                <div class="m-text my-auto">User assignations</div>
                            </div>

                            <!-- CHILDRENS -->
                            <div class="col-lg-12 d-flex mt-4 mb-2">
                                <em class="bi bi-diagram-2 my-auto me-3"></em>
                                <div class="m-text my-auto">Childrens</div>
                            </div>

                            <!-- search -->
                            <div class="col-lg-12 d-flex mt-4 mb-2">
                                <em class="bi bi-search bi-sm my-auto me-3"></em>
                                <input class="form-control" list="searchChildren" type="text"
                                    (keyup)="searchChildrenByName($event.target)" [ngModel]="childrenToAdd" />
                                <datalist id="searchChildren">
                                    <option *ngFor="let s of searchChildren" [ngValue]="s" (value)="s">{{s.name + '
                                        (#'+s.code+')'}}</option>
                                </datalist>
                                <em class="bi bi-plus bi-sm my-auto me-3" (click)="addChildrenFormInput()"></em>
                            </div>

                            <!-- actions -->
                            <div class="col-lg-12 form-group d-flex flex-row-reverse mt-3">
                                <button type="button" class="btn btn-danger" (click)="edit()">Close</button>
                                <button type="submit" class="btn btn-success me-2"
                                    [disabled]="!formActive.valid">{{selectedActive!=undefined?'Create':'Edit'}}</button>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>