<!-- OPERATIONS -->
<div class="d-flex mb-3 mr-3 flex-wrap">
    <div class="flex-grow-1 center d-flex flex-wrap">
        <div class="d-flex mx-3" *ngIf="myProjects && myProjects.length!=0">
            <em class="bi bi-md bi-folder2 me-2" ngbTooltip="Project" placement="bottom" [openDelay]="300"></em>
            <select class="m-auto" (change)="loadSprintsByProjectIdEvent($event.target)">
                <option class="dark-text" *ngFor="let p of myProjects"
                    [attr.selected]="p.id==projectSelectedId?true:null" [ngValue]="p" value="{{p.id}}">
                    {{p.name}}</option>
            </select>
        </div>
    </div>
</div>

<hr style="height: 2px">

<div *ngIf="containError" class="alert alert-danger mt-3 mb-3">{{messageError}}</div>

<form>
    <div class="mb-3 row">
        <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
        <div class="col-xs-3 col-sm-auto">
            <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                [(ngModel)]="searchTerm">
        </div>
    </div>

    <table class="table">
        <thead>
            <th scope="col" sortable="code">Code</th>
            <th scope="col" sortable="title">Title</th>
            <th scope="col" sortable="description">Description</th>
            <th scope="col" sortable="reported">Reported</th>
            <th scope="col" sortable="estimatedTime">Estimated time</th>
            <th scope="col" sortable="date">Date</th>
            <th scope="col" sortable="lastModification">Last modification</th>
            <th scope="col" sortable="priority">Priority</th>
            <th scope="col" sortable="affects">Affects</th>
            <th scope="col" sortable="username">Creator</th>
            <th scope="col" sortable="assignatedUsername">Assigned</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let incident of incidents, let j=index">
                <td>
                    <ngb-highlight [result]="incident.code.toString()"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="incident.title"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="incident.description"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="incident.reported"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="incident.estimatedTime.toString()"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="formatDate(incident.date)"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="formatDate(incident.lastModification)"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="incident.priority.toString()"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="incident.affects"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="incident.username"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="incident.assignatedUsername"></ngb-highlight>
                </td>
                <td>
                    <div class="d-flex">
                        <div>
                            Edit
                        </div>
                        <div>
                            Delete
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize"></ngb-pagination>
        <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="25">25 items per page</option>
            <option [ngValue]="50">50 items per page</option>
            <option [ngValue]="100">100 items per page</option>
        </select>
    </div>

</form>