<!-- OPERATIONS -->
<div class="d-flex mb-3 mr-3 flex-wrap">
    <div class="flex-grow-1 center d-flex flex-wrap">
        <div class="d-flex mx-3" *ngIf="myProjects && myProjects.length!=0">
            <em class="bi bi-md bi-folder2 me-2" ngbTooltip="Project" placement="bottom" [openDelay]="300"></em>
            <select class="m-auto" (change)="loadSprintsByProjectIdEvent($event.target)">
                <option class="dark-text" *ngFor="let p of myProjects"
                    [attr.selected]="p.id==projectSelectedId?true:null" [ngValue]="p" value="{{p.id}}">
                    {{p.name}}</option>
            </select>
        </div>
    </div>
</div>

<hr style="height: 2px">

<div *ngIf="containError" class="alert alert-danger mt-3 mb-3">{{messageError}}</div>

<!-- TABLE -->
<div class="overflow-auto scrollable-content">
    <ag-grid-angular style="width: 100%; height: 100%" class="ag-theme-alpine-dark" [rowData]="incidents"
        [columnDefs]="incCol" [cacheBlockSize]="pageSize" [pagination]="true" [paginationPageSize]="pageSize"
        [enableRangeSelection]="true" (gridReady)="onGridReady($event)" [rowModelType]="'infinite'"
        (rowDoubleClicked)="loadSelectedRow($event)">

    </ag-grid-angular>
</div>

<!-- hidden button that opens modal -->
<button hidden type="button" #openViewModal class="btn btn-danger" data-bs-target="#viewModal" data-bs-toggle="modal"></button>

<!-- VIEW MODAL -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content bg-dark-5">
            <div class="modal-body">
                <div class="card overflow-auto">

                    <div class="d-flex">
                        <div class="flex-grow-1 card-title mt-2">View incident</div>
                        <div class="close-card-button" data-bs-dismiss="modal">
                            <em class="bi bi-x"></em>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>