.column-card {
    background-color: var(--dark-pallete-3) !important;
    min-width: 400px;
    width: 400px;
    height: calc(100vh - var(--navbar-size) - 150px);
}

.task-card {
    background-color: var(--dark-pallete-2) !important;
    border-radius: 5px;
}

.overflow-x{
    overflow-x: auto;
}

.scrollable-x{
    overflow-x: auto;
    width: calc(100vw - 50px - var(--sidebar-size)) !important;
}

.chip {
    border-radius: 50rem !important;
    background-color: var(--dark-pallete-0);
    color: var(--dark-contrast-text);
    font-size: 0.85rem;
    padding-inline: 0.4rem;
}