<!-- OPERATIONS -->
<div class="d-flex mb-3 mr-3 flex-wrap">
    <div class="flex-grow-1 center d-flex flex-wrap">
        <div class="d-flex mx-3" *ngIf="myProjects && myProjects.length!=0">
            <em class="bi bi-md bi-folder2 me-2" ngbTooltip="Project" placement="bottom" [openDelay]="300"></em>
            <select class="m-auto" (change)="loadProjectByIdEvent($event.target)">
                <option class="dark-text" *ngFor="let p of myProjects"
                    [attr.selected]="p.id==projectSelectedId?true:null" [ngValue]="p" value="{{p.id}}">
                    {{p.name}}</option>
            </select>
        </div>
        <div class="d-flex mx-3" *ngIf="mySprints && mySprints.length!=0">
            <em class="bi bi-md bi-arrow-repeat me-2" ngbTooltip="Sprint" placement="bottom" [openDelay]="300"></em>
            <select class="m-auto" (change)="loadSprintByIdEvent($event.target)">
                <option class="dark-text" *ngFor="let s of mySprints; let i=index"
                    [attr.selected]="s.id==sprintSelectedId?true:null" [ngValue]="s" value="{{s.id}}">
                    #{{s.number}}: {{s.title}}</option>
            </select>
        </div>
    </div>

    <div class="mx-3">
        <a ngbTooltip="Add column" placement="left" [openDelay]="300" *ngIf="adminAccess" data-bs-toggle="modal"
            data-bs-target="#createColumnModal">
            <em class="bi bi-plus-lg"></em>
        </a>
    </div>
</div>

<hr style="height: 2px">

<div *ngIf="containError" class="alert alert-danger mt-3 mb-3">{{messageError}}</div>
<div class="scrollable-x">
    <div class="d-flex" cdkDropListGroup>
        <div class="card column-card m-3 user-select-none" *ngFor="let column of kanban">

            <!-- COLUMN -->
            <div class="d-flex">
                <div class="b-text my-4 text-center flex-grow-1">{{column.title}}</div>
                <div class="m-auto">

                    <!-- ADD TASK -->
                    <a ngbTooltip="Add task" (click)="newTask(column)" placement="left" [openDelay]="300"
                        *ngIf="memberAccess">
                        <em class="bi bi-md bi-plus-lg me-3"></em>
                    </a>

                    <!-- EDIT COLUMN -->
                    <a ngbTooltip="Edit" (click)="fillColumnUpdateForm(column)" placement="left" [openDelay]="300"
                        *ngIf="adminAccess" data-bs-toggle="modal" data-bs-target="#updateColumnModal">
                        <em class="bi bi-md bi-pencil-fill me-3"></em>
                    </a>

                    <!-- DISABLE COLUMN -->
                    <!-- Only if not exists tasks & have member access -->
                    <a *ngIf="column.tasks.length==0 && adminAccess" ngbTooltip="Delete" (click)="disableColumn(column)"
                        placement="left" [openDelay]="300">
                        <em class="bi bi-md bi-trash-fill me-3"></em>
                    </a>
                </div>
            </div>


            <!-- TASKS -->
            <div id="dropList_{{column}}" class="overflow-auto scrollable-content" cdkDropList
                [cdkDropListData]="column" (cdkDropListDropped)="dropTask($event)">
                <div class="card task-card mb-3 mx-3" *ngFor="let task of column.tasks" cdkDrag [cdkDragData]="task">
                    <div class="m-3">
                        <div class="d-flex">
                            <div class="m-text flex-grow-1 text-break">#{{task.number}}: {{task.title}}</div>
                            <div class="d-flex my-auto">
                                <ng-container
                                    *ngIf="activeEffort==null || (activeEffort.description!=null && activeEffort.description.length!=0) || (activeEffort!=null && activeEffort.kanbanTask!=null && task.id!=activeEffort.kanbanTask.id); else startedTask">
                                    <!-- START TASK -->
                                    <a (click)="startEffort(task.id)" ngbTooltip="Start effort" placement="left"
                                        [openDelay]="300" data-bs-toggle="modal">
                                        <em class="bi bi-sm bi-play-circle-fill me-2"></em>
                                    </a>
                                </ng-container>
                                <ng-template #startedTask>
                                    <!-- END TASK -->
                                    <a (click)="endEffort()" ngbTooltip="Stop effort" placement="left" [openDelay]="300"
                                        data-bs-toggle="modal">
                                        <em class="bi bi-sm bi-square-fill me-2"></em>
                                    </a>
                                </ng-template>

                                <!-- SHOW TASK -->
                                <a *ngIf="memberAccess" (click)="showTask(task, column)" ngbTooltip="Edit"
                                    placement="left" [openDelay]="300">
                                    <em class="bi bi-sm bi-info-circle me-2"></em>
                                </a>

                                <!-- UPDATE TASK -->
                                <a *ngIf="memberAccess" (click)="editTask(task, column)" ngbTooltip="Edit"
                                    placement="left" [openDelay]="300">
                                    <em class="bi bi-sm bi-pencil-fill me-2"></em>
                                </a>

                                <!-- DELETE TASK -->
                                <a *ngIf="memberAccess" (click)="disableTask(task)" ngbTooltip="Achieve"
                                    placement="left" [openDelay]="300">
                                    <em class="bi bi-sm bi-trash-fill me-2"></em>
                                </a>
                            </div>
                        </div>

                        <div class="s-text">{{task.description}}</div>

                        <div class="mx-1 mt-3" *ngIf="task.computedTime!=0 && task.estimatedTime">
                            <ng-container *ngIf="task.computedTime<=task.estimatedTime; else overloadTime">
                                <div class="progress bg-success">
                                    <div class="progress-bar bg-info"
                                        [class]="(activeEffort==null || (activeEffort.description!=null && activeEffort.description.length!=0) || (activeEffort!=null && activeEffort.kanbanTask!=null && task.id!=activeEffort.kanbanTask.id))?'':'progress-bar-striped progress-bar-animated'"
                                        role="progressbar"
                                        [style]="'width: ' + (task.computedTime/task.estimatedTime)*100 + '%'"
                                        aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </ng-container>
                            <ng-template #overloadTime>
                                <div class="progress bg-danger">
                                    <div class="progress-bar bg-info"
                                        [class]="(activeEffort==null || (activeEffort.description!=null && activeEffort.description.length!=0) || (activeEffort!=null && activeEffort.kanbanTask!=null && task.id!=activeEffort.kanbanTask.id))?'':'progress-bar-striped progress-bar-animated'"
                                        role="progressbar"
                                        [style]="'width: ' + (task.estimatedTime/task.computedTime)*100 + '%'"
                                        aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </ng-template>
                        </div>

                        <div class="d-flex mt-3" *ngIf="task.tags">
                            <div class="mx-1" *ngFor="let tag of task.tags.split(',')">

                                <div class="chip">
                                    #{{tag.trim()}}
                                </div>
                            </div>
                        </div>

                        <div class="d-flex" *ngIf="task.assignedUsers && task.assignedUsers.length!=0">
                            <div class="mx-1" *ngFor="let u of task.assignedUsers" ngbTooltip="@{{u.username}}"
                                placement="right" [openDelay]="300">
                                <show-user [user]="u" [showUsername]="false"></show-user>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CREATE COLUMN -->
    <div class="modal fade" id="createColumnModal" tabindex="-1" aria-labelledby="createColumnModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark-5">
                <div class="modal-body">
                    <div class="card overflow-auto">

                        <div class="d-flex">
                            <div class="flex-grow-1 card-title mt-2">New column</div>
                            <div class="close-card-button" data-bs-dismiss="modal">
                                <em class="bi bi-x"></em>
                            </div>
                        </div>

                        <form [formGroup]="formNewColumn" (ngSubmit)="newColumn()">

                            <div *ngIf="newColumnContainError" class="alert alert-danger mt-5">
                                {{newColumnMessageError}}
                            </div>

                            <div class="form-group mb-4 mt-3">
                                <p class="mb-0">Title</p>
                                <input class="form-control {{inputClass(formNewColumn, 'title')}}" type="text"
                                    name="title" formControlName="title" maxlength="50" minlength="2" placeholder="" />
                                <div class="invalid-feedback"
                                    *ngIf="formNewColumn.get('title')?.touched && formNewColumn.get('title')?.invalid">
                                    <div *ngIf="formNewColumn.get('title')?.errors?.required">Cannot be empty</div>
                                    <div *ngIf="formNewColumn.get('title')?.errors?.minlength">Must containt at least 2
                                        characters</div>
                                    <div *ngIf="formNewColumn.get('title')?.errors?.maxlength">Only 50 characters are
                                        allowed</div>
                                </div>
                            </div>

                            <div class="form-group modal-footer">
                                <button type="button" #closebuttonCreateColumn class="btn btn-danger"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success"
                                    [disabled]="!formNewColumn.valid">Create</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- UPDATE COLUMN -->
    <div class="modal fade" id="updateColumnModal" tabindex="-1" aria-labelledby="updateColumnModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark-5">
                <div class="modal-body">
                    <div class="card overflow-auto">

                        <div class="d-flex">
                            <div class="flex-grow-1 card-title mt-2">Update column</div>
                            <div class="close-card-button" data-bs-dismiss="modal">
                                <em class="bi bi-x"></em>
                            </div>
                        </div>

                        <form [formGroup]="formUpdateColumn" (ngSubmit)="editColumn()">

                            <div *ngIf="updateColumnContainError" class="alert alert-danger mt-5">
                                {{updateColumnMessageError}}
                            </div>

                            <div class="form-group mb-4 mt-3">
                                <p class="mb-0">Title</p>
                                <input class="form-control {{inputClass(formUpdateColumn, 'title')}}" type="text"
                                    name="title" formControlName="title" maxlength="50" minlength="2" placeholder="" />
                                <div class="invalid-feedback"
                                    *ngIf="formUpdateColumn.get('title')?.touched && formUpdateColumn.get('title')?.invalid">
                                    <div *ngIf="formUpdateColumn.get('title')?.errors?.required">Cannot be empty</div>
                                    <div *ngIf="formUpdateColumn.get('title')?.errors?.minlength">Must containt at least
                                        2 characters</div>
                                    <div *ngIf="formUpdateColumn.get('title')?.errors?.maxlength">Only 50 characters are
                                        allowed</div>
                                </div>
                            </div>

                            <div class="form-group modal-footer">
                                <button type="button" #closebuttonUpdateColumn class="btn btn-danger"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success"
                                    [disabled]="!formUpdateColumn.valid">Update</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- importance data list (new & update task) -->
    <datalist id="impDataLs">
        <option>Very high</option>
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
        <option>Very low</option>
    </datalist>

</div>
<button hidden type="button" #openTaskModal class="btn btn-danger" data-bs-target="#taskModal" data-bs-toggle="modal">
</button>
<task-modal-view [isEditable]="memberAccess" [selectedTask]="selectedTask" [selectedKanbanColumnId]="selectedColumnId" [usersInProject]="usersInProject"
                                    [isEditing]="taskIsEditing" [myTasks]="myTasks" (reload)=" this.loadKanbanBySelectedSprint()"></task-modal-view>