<div class="modal fade" id="vulnLibModal" tabindex="-1" aria-labelledby="vulnLibModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark-5">
            <div class="modal-body">
                <div class="card overflow-auto">

                    <!-- title -->
                    <div class="d-flex">
                        <div class="flex-grow-1 card-title mt-2">{{selectedVulnLib!=undefined?
                            (isEditing?'Update vulnlib': selectedVulnLib.name):
                            'New vulnlib'}}</div>
                        <div class="close-card-button" data-bs-dismiss="modal">
                            <em class="bi bi-x"></em>
                        </div>
                    </div>

                    <!-- errors -->
                    <div *ngIf="containError" class="alert alert-danger mt-5">
                        {{messageError}}
                    </div>

                    <!-- VIEW VULNLIB -->
                    <div *ngIf="selectedVulnLib!=undefined && !isEditing" class="container">

                        <div class="row">

                            <!-- LEFT CONTAINER -->
                            <div
                                class="d-flex flex-wrap {{selectedVulnLib.vulnlinks.length!=0?'col-lg-6':'col-lg-12'}} p-3">

                                <!-- description -->
                                <div class="w-100" *ngIf="selectedVulnLib.description">
                                    <div class="d-flex flex-wrap my-3">
                                        <em class="bi bi-card-text my-auto" style="font-size: 20px !important;"></em>
                                        <div class="text-break my-auto mx-2">Description</div>
                                    </div>
                                    <div class="text-break my-auto mt-2">{{selectedVulnLib.description}}</div>
                                </div>

                                <!-- company -->
                                <div class="w-50 d-flex flex-wrap my-3" *ngIf="selectedVulnLib.company">
                                    <div class="me-2">Company:</div>
                                    <div>{{selectedVulnLib.company}}</div>
                                </div>

                                <!-- product -->
                                <div class="w-50 d-flex flex-wrap my-3" *ngIf="selectedVulnLib.product">
                                    <div class="me-2">Product:</div>
                                    <div>{{selectedVulnLib.product}}</div>
                                </div>

                                <!-- affectedVersions -->
                                <div class="w-100 my-2" *ngIf="selectedVulnLib.affectedVersions">
                                    <div class="me-2">Affected versions:</div>
                                    <div class="text-break my-auto mt-1">{{selectedVulnLib.affectedVersions}}</div>
                                </div>

                                <!-- cweType -->
                                <div class="w-50 d-flex flex-wrap my-3" *ngIf="selectedVulnLib.cweType">
                                    <div class="me-2">CWE:</div>
                                    <div>{{selectedVulnLib.cweType}}</div>
                                </div>

                                <!-- cvss -->
                                <div class="w-100 d-flex flex-wrap my-3" *ngIf="selectedVulnLib.cvss">
                                    <div class="me-2">CVSS:</div>
                                    <div>{{selectedVulnLib.cvss}}</div>
                                </div>

                                <!-- cvssVector -->
                                <div class="w-100 d-flex flex-wrap my-3" *ngIf="selectedVulnLib.cvssVector">
                                    <div class="me-2">CVSS vector:</div>
                                    <div>{{selectedVulnLib.cvssVector}}</div>
                                </div>

                                <!-- creationDate -->
                                <div class="w-100 d-flex flex-wrap my-3" *ngIf="selectedVulnLib.creationDate">
                                    <div class="me-2">Creation date:</div>
                                    <div>{{getFormatedDate(selectedVulnLib.creationDate,'HH:mm:ss dd/MM/yyyy')}}</div>
                                </div>

                                <!-- modificationDate -->
                                <div class="w-100 d-flex flex-wrap my-3" *ngIf="selectedVulnLib.modificationDate">
                                    <div class="me-2">Modification date:</div>
                                    <div>{{getFormatedDate(selectedVulnLib.modificationDate,'HH:mm:ss dd/MM/yyyy')}}
                                    </div>
                                </div>



                            </div>

                            <!-- RIGHT CONTAINER -->
                            <div class="col-lg-6 p-3"
                                *ngIf="selectedVulnLib.vulnlinks && selectedVulnLib.vulnlinks.length!=0">
                                <div class="m-text">Links</div>
                                <div class="m-3" *ngFor="let l of selectedVulnLib.vulnlinks">
                                    <a class="my-auto" href="{{l.url}}" target="_blank">{{l.websiteName}}: {{l.url}}</a>
                                </div>
                            </div>

                            <!-- edit button -->
                            <div *ngIf="isEditable && selectedVulnLib!=undefined && !selectedVulnLib.standard"
                                class="w-100 d-flex p-2 mt-2">
                                <button type="button" class="btn btn-secondary ms-auto d-flex" (click)="edit()">
                                    <em class="bi bi-sm bi-pencil-fill ms-auto me-2"></em>
                                    <div class="my-auto">Edit</div>
                                </button>
                            </div>

                        </div>
                    </div>

                    <!-- CREATE/UPDATE -->
                    <div *ngIf="selectedVulnLib==undefined || (isEditable && isEditing && !selectedVulnLib.standard)"
                        class="container p-3">

                        <form class="row" [formGroup]="formVulnLib" (ngSubmit)="uploadVulnLib()">

                            <!-- name -->
                            <div class="col-lg-12 my-3 d-flex">
                                <div class="my-auto me-2">Name:</div>
                                <input class="form-control {{inputClass(formVulnLib, 'name')}}" type="text"
                                    formControlName="name" maxlength="50" minlength="2" />
                                <div class="invalid-feedback" *ngIf="formVulnLib.get('name')?.touched 
                                    && formVulnLib.get('name')?.invalid">
                                    <div *ngIf="formVulnLib.get('name')?.errors?.required">
                                        Cannot be empty
                                    </div>
                                    <div *ngIf="formVulnLib.get('name')?.errors?.minlength">
                                        Must containt at least 2 characters
                                    </div>
                                    <div *ngIf="formVulnLib.get('name')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-lg-12 my-3">
                                <div class="my-auto me-2">Description:</div>
                                <textarea class="form-control {{inputClass(formVulnLib, 'description')}}"
                                    formControlName="description" maxlength="255" rows="2"></textarea>
                                <div class="invalid-feedback" *ngIf="formVulnLib.get('description')?.touched 
                                    && formVulnLib.get('description')?.invalid">
                                    <div *ngIf="formVulnLib.get('description')?.errors?.maxlength">
                                        Only 255 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- company -->
                            <div class="col-lg-12 my-3 d-flex">
                                <div class="my-auto me-2">Company:</div>
                                <input class="form-control {{inputClass(formVulnLib, 'company')}}" type="text"
                                    formControlName="company" maxlength="50" />
                                <div class="invalid-feedback" *ngIf="formVulnLib.get('company')?.touched 
                                    && formVulnLib.get('company')?.invalid">
                                    <div *ngIf="formVulnLib.get('company')?.errors?.required">
                                        Cannot be empty
                                    </div>
                                    <div *ngIf="formVulnLib.get('company')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- product -->
                            <div class="col-lg-12 my-3 d-flex">
                                <div class="my-auto me-2">Product:</div>
                                <input class="form-control {{inputClass(formVulnLib, 'product')}}" type="text"
                                    formControlName="product" maxlength="50" />
                                <div class="invalid-feedback" *ngIf="formVulnLib.get('product')?.touched 
                                    && formVulnLib.get('product')?.invalid">
                                    <div *ngIf="formVulnLib.get('product')?.errors?.required">
                                        Cannot be empty
                                    </div>
                                    <div *ngIf="formVulnLib.get('product')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- affectedVersions -->
                            <div class="col-lg-12 my-3">
                                <div class="my-auto me-2">Affected versions:</div>
                                <textarea class="form-control {{inputClass(formVulnLib, 'affectedVersions')}}"
                                    formControlName="affectedVersions" maxlength="255" rows="2"></textarea>
                                <div class="invalid-feedback" *ngIf="formVulnLib.get('affectedVersions')?.touched 
                                    && formVulnLib.get('affectedVersions')?.invalid">
                                    <div *ngIf="formVulnLib.get('affectedVersions')?.errors?.maxlength">
                                        Only 255 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- cweType -->
                            <div class="col-lg-12 my-3 d-flex">
                                <div class="my-auto me-2">CWE:</div>
                                <input class="form-control {{inputClass(formVulnLib, 'cweType')}}" type="text"
                                    formControlName="cweType" maxlength="50" />
                                <div class="invalid-feedback" *ngIf="formVulnLib.get('cweType')?.touched 
                                    && formVulnLib.get('cweType')?.invalid">
                                    <div *ngIf="formVulnLib.get('cweType')?.errors?.required">
                                        Cannot be empty
                                    </div>
                                    <div *ngIf="formVulnLib.get('cweType')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- cvss -->
                            <div class="col-lg-12 my-3 d-flex">
                                <div class="my-auto me-2">CVSS:</div>
                                <input class="form-control {{inputClass(formVulnLib, 'cvss')}}" type="text"
                                    formControlName="cvss" maxlength="50" />
                                <div class="invalid-feedback" *ngIf="formVulnLib.get('cvss')?.touched 
                                    && formVulnLib.get('cvss')?.invalid">
                                    <div *ngIf="formVulnLib.get('cvss')?.errors?.required">
                                        Cannot be empty
                                    </div>
                                    <div *ngIf="formVulnLib.get('cvss')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- cvssVector -->
                            <div class="col-lg-12 my-3 d-flex">
                                <div class="my-auto me-2">CVSS vector:</div>
                                <input class="form-control {{inputClass(formVulnLib, 'cvssVector')}}" type="text"
                                    formControlName="cvssVector" maxlength="50" />
                                <div class="invalid-feedback" *ngIf="formVulnLib.get('cvssVector')?.touched 
                                    && formVulnLib.get('cvssVector')?.invalid">
                                    <div *ngIf="formVulnLib.get('cvssVector')?.errors?.required">
                                        Cannot be empty
                                    </div>
                                    <div *ngIf="formVulnLib.get('cvssVector')?.errors?.maxlength">
                                        Only 50 characters are allowed
                                    </div>
                                </div>
                            </div>

                            <!-- vulnlinks -->
                            <div class="col-lg-12 my-3">
                                <div class="d-flex flex-wrap">
                                    <div class="m-text me-auto">Vulnlib links</div>
                                    <button type="button" class="btn btn-success my-auto ms-3" (click)="addVulnLinkForm(undefined)">
                                        Add
                                    </button>
                                </div>

                                <div formArrayName="vulnlinks">
                                    <div *ngFor="let v of vulnlinks.controls; let i = index" class="d-flex mt-3">
                                        <div class="d-flex" [formGroupName]="i">
                                            <div class="d-flex">

                                                <div class="my-auto me-2 text-nowrap">Website name:</div>
                                                <input class="form-control {{inputClass(formVulnLib, 'websiteName'+i)}}"
                                                    type="text" formControlName="websiteName" maxlength="50" required/>
                                                <div class="invalid-feedback" *ngIf="formVulnLib.get('websiteName'+i)?.touched 
                                                        && formVulnLib.get('websiteName'+i)?.invalid">
                                                    <div *ngIf="formVulnLib.get('websiteName'+i)?.errors?.required">
                                                        Cannot be empty
                                                    </div>
                                                    <div *ngIf="formVulnLib.get('websiteName'+i)?.errors?.maxlength">
                                                        Only 50 characters are allowed
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex ms-2">
                                                <div class="my-auto me-2">URL:</div>
                                                <input class="form-control {{inputClass(formVulnLib, 'url'+i)}}" type="text"
                                                    formControlName="url" maxlength="255" required/>
                                                <div class="invalid-feedback" *ngIf="formVulnLib.get('url'+i)?.touched 
                                                        && formVulnLib.get('url'+i)?.invalid">
                                                    <div *ngIf="formVulnLib.get('url'+i)?.errors?.required">
                                                        Cannot be empty
                                                    </div>
                                                    <div *ngIf="formVulnLib.get('url'+i)?.errors?.maxlength">
                                                        Only 255 characters are allowed
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <input class="form-control" type="text" formControlName="websiteName"> -->
                                        <!-- <input class="form-control" type="text" formControlName="url"> -->

                                        <em class="bi bi-sm bi-trash-fill my-auto ms-auto"
                                            (click)="removeVulnLinkForm(i)"></em>
                                    </div>
                                </div>
                            </div>

                            <!-- actions -->
                            <div class="col-lg-12 form-group d-flex flex-row-reverse mt-3">
                                <button type="button" class="btn btn-danger" (click)="edit()">Close</button>
                                <button type="submit" class="btn btn-success me-2"
                                    [disabled]="!formVulnLib.valid">{{selectedVulnLib==undefined?'Create':'Edit'}}</button>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>