<!-- OPERATIONS -->
<div class="d-flex mb-3 mr-3 flex-wrap">
    <div class="flex-grow-1 center d-flex flex-wrap">
        <div class="d-flex mx-3" *ngIf="myProjects && myProjects.length!=0">
            <em class="bi bi-md bi-folder2 me-2" ngbTooltip="Project" placement="bottom" [openDelay]="300"></em>
            <select class="m-auto" (change)="loadProjectByIdEvent($event.target)">
                <option class="dark-text" *ngFor="let p of myProjects"
                    [attr.selected]="p.id==projectSelectedId?true:null" [ngValue]="p" value="{{p.id}}">
                    {{p.name}}</option>
            </select>
        </div>
        <div class="d-flex mx-3" *ngIf="mySprints && mySprints.length!=0">
            <em class="bi bi-md bi-arrow-repeat me-2" ngbTooltip="Sprint" placement="bottom" [openDelay]="300"></em>
            <select class="m-auto" (change)="loadSprintByIdEvent($event.target)">
                <option class="dark-text" *ngFor="let s of mySprints; let i=index"
                    [attr.selected]="s.id==sprintSelectedId?true:null" [ngValue]="s" value="{{s.id}}">
                    #{{s.number}}: {{s.title}}</option>
            </select>
        </div>
    </div>

    <div class="mx-3">
        <a ngbTooltip="Add column" placement="left" [openDelay]="300" *ngIf="adminAccess" data-bs-toggle="modal"
            data-bs-target="#createColumnModal">
            <em class="bi bi-plus-lg"></em>
        </a>
    </div>
</div>

<hr style="height: 2px">

Gantt module
