<!-- MENU -->
<div class="d-flex mb-3 mr-3 flex-wrap">
    <div class="flex-grow-1 center d-flex flex-wrap">
        <div class="d-flex mx-3 my-auto" *ngIf="myProjects && myProjects.length!=0">
            <em class="bi bi-md bi-folder2 me-2" ngbTooltip="Project" placement="bottom" [openDelay]="300"></em>
            <select class="m-auto" (change)="loadProjectByIdEvent($event.target)">
                <option class="dark-text" *ngFor="let p of myProjects"
                    [attr.selected]="p.id==projectSelectedId?true:null" [ngValue]="p" value="{{p.id}}">
                    {{p.name}}</option>
            </select>
        </div>
    </div>
    <div class="mx-3" *ngIf="adminAccess && projectSelectedId!=undefined && projectSelectedId!=0">
        <a ngbTooltip="Add risk" placement="left" [openDelay]="300" (click)="newRisk()">
            <em class="bi bi-plus-lg"></em>
        </a>
    </div>
    <div class="mx-3" *ngIf="adminAccess && projectSelectedId!=undefined && projectSelectedId!=0">
        <a ngbTooltip="Configuration" placement="left" [openDelay]="300" (click)="openRiskConfig()">
            <em class="bi bi-gear-fill"></em>
        </a>
    </div>
</div>

<!-- TABLE -->
<div class="overflow-auto scrollable-content">
    <ag-grid-angular style="width: 100%; height: 100%" class="ag-theme-alpine-dark" [rowData]="risks"
        [columnDefs]="incCol" [cacheBlockSize]="pageSize" [pagination]="true" [paginationPageSize]="pageSize"
        [enableRangeSelection]="true" (gridReady)="onGridReady($event)" [rowModelType]="'infinite'"
        (rowDoubleClicked)="loadSelectedRow($event)">
    </ag-grid-angular>
</div>

<!-- FREQ/DIM CONFIG -->
<button hidden type="button" #openRiskConfigViewModal class="btn btn-danger" data-bs-target="#riskConfigModal"
    data-bs-toggle="modal">
</button>
<risk-config-modal-view [projectId]="this.projectSelectedId" (reload)="reloadGridTable()"></risk-config-modal-view>


<!-- RISK MODAL -->
<button hidden type="button" #openRiskViewModal class="btn btn-danger" data-bs-target="#riskModal"
    data-bs-toggle="modal">
</button>