#sidebar {
    background: var(--dark-pallete-4) !important;
    color: var(--dark-pallete-text) !important;
    transition: all .15s;
    position: relative;
    height: calc(100vh - var(--navbar-size));
    width: var(--sidebar-size);
}

.scroll-inside-sidebar {
    width: 300px;
    height: inherit;
}

.active {
    margin-left: 5px;
    background: var(--dark-pallete-1);
    color: var(--dark-contrast-text);
    border-radius: 10px 0px 0px 10px;
}

.bi:hover {
    color: var(--dark-contrast-text);
}

.log-out-button {
    color: rgba(255, 0, 0, 0.699) !important;
    cursor: pointer !important;
}

.log-out-button:hover {
    color: rgb(255, 0, 0) !important;
}