<nav id="sidebar">
    <ul class="nav" style="height: inherit;">
        <div class="d-flex flex-column overflow-auto scroll-inside-sidebar">

            <!-- UPSIDE -->
            <div class="flex-column">
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" [routerLink]="['/app/effort']" style="color: inherit;" ngbTooltip="Time" placement="right" [openDelay]="300">
                        <em class="bi bi-stopwatch" style="font-size: 30px;"></em>
                    </a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" [routerLink]="['/app/gantt']" style="color: inherit;" ngbTooltip="Gantt" placement="right" [openDelay]="300">
                        <em class="bi bi-bar-chart-steps" style="font-size: 30px;"></em>
                    </a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" [routerLink]="['/app/kanban']" style="color: inherit;" ngbTooltip="Kanban" placement="right" [openDelay]="300">
                        <em class="bi bi-kanban" style="font-size: 30px;"></em>
                    </a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item" hidden>
                    <a class="nav-link" [routerLink]="['/app/requirements']" style="color: inherit;" ngbTooltip="Requirements" placement="right" [openDelay]="300">
                        <em class="bi bi-key" style="font-size: 30px;"></em>
                    </a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" [routerLink]="['/app/sprint']" style="color: inherit;" ngbTooltip="Sprints" placement="right" [openDelay]="300">
                        <em class="bi bi-arrow-repeat" style="font-size: 30px;"></em>
                    </a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" [routerLink]="['/app/projects']" style="color: inherit;" ngbTooltip="Projects" placement="right" [openDelay]="300">
                        <em class="bi bi-folder2" style="font-size: 30px;"></em>
                    </a>
                </li>
            </div>



            <!-- DOWNSIDE -->
            <div class="flex-column mt-auto">
                <hr style="height: 2px; margin: 0.3rem;">
                <hr style="height: 2px; margin: 0.3rem;">
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" [routerLink]="['/app/user']" style="color: inherit;" ngbTooltip="User settings" placement="right" [openDelay]="300">
                        <ng-container *ngIf="getProfileImageUrl()!=null && getProfileImageUrl()!=''; else showIconProfile">
                            <img class="profile-image my-2" src="{{getProfileImageUrl()}}" alt="Profile image">
                        </ng-container>
                        <ng-template #showIconProfile>
                            <em class="bi bi-person-circle" style="font-size: 30px;"></em>
                        </ng-template>
                        
                    </a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item" hidden>
                    <a class="nav-link" [routerLink]="['/app/config']" style="color: inherit;" ngbTooltip="Configuration" placement="right" [openDelay]="300">
                        <em class="bi bi-sliders" style="font-size: 30px;"></em>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="onLogout()" ngbTooltip="Logout" placement="right" [openDelay]="300">
                        <em class="bi bi-power red-btn" style="font-size: 30px;"></em>
                    </a>
                </li>
            </div>
        </div>

    </ul>
</nav>