<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-dark-5">
    <div class="container-fluid">
        <a id="title" class="navbar-brand dark-text" href="/app">iMan</a>

        <!-- HIDE BUTTON -->
        <!-- 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#iManNavbar" aria-controls="iManNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="iManNavbar">
        -->
        <div id="iManNavbar">
            <!-- RIGHT -->
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul> -->

            <!-- LEFT -->
            <ul class="navbar-nav ms-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link">
                        <em class="bi bi-info-circle"></em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>