#title {
    font-size: 1.5rem;
    font-weight: 500;
}

#title:hover {
    color: var(--dark-contrast-text) !important;
}

.navbar {
    height: var(--navbar-size) !important;
    width: 100vw;
    -webkit-app-region: drag;
}

#close-btn:hover {
    color: rgb(255, 79, 79) !important;
}

.bi {
    font-size: 15px !important;
}