<div class="d-flex" *ngIf="user!=undefined || username!='' || imageUrl!=''" ngbTooltip="@{{username}}" placement="right" [openDelay]="300">
    <ng-container *ngIf="showProfileImage">
        <ng-container *ngIf="imageUrl!=''; else showIconProfile">
            <img class="profile-image {{showMargin?'my-2':''}}" src="{{imageUrl}}" alt="@{{username}} profile image">
        </ng-container>
        <ng-template #showIconProfile>
            <em class="bi bi-person-circle" style="font-size: 35px !important;"></em>
        </ng-template>
    </ng-container>
    <ng-container *ngIf="showUsername">
        <div class="ms-2 my-auto">@{{username}}</div>
    </ng-container>
</div>