.form-control {
    background: none;
    border: none;
    border-bottom: 2px solid var(--dark-pallete-text);
    -webkit-box-shadow: 0 0 0 30px var(--dark-pallete-1) inset !important;
    color: var(--dark-pallete-1);
}

.scrollable-content {
    height: calc(100vh - 60px - var(--navbar-size)) !important;
}

select {
    height: 40px !important;
}

.size-xl {
    cursor: pointer !important;
}

em.size-xl {
    font-size: 200px !important;
}

img.size-xl {
    height: 200px !important;
    width: 200px !important;
}

.delete-image {
    position: relative;
    font-size: 35px !important;
    right: -166px;
    top: -66px;
}

#image-block {
    max-width: 200px;
}