.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#loginCard {
  max-width: 320px;
  width: 90%;
  background-color: var( --dark-pallete-5);
  padding: 40px;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}

.dark-background {
  height: 100%;
  width: 100%;
  background: var(--dark-pallete-1);
  background-size: cover;
  position: absolute;
}

select {
  height: 40px !important;
}