.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#loginCard {
  max-width: 320px;
  width: 90%;
  background-color: var( --dark-pallete-5);
  padding: 40px;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}

.card form .forgot {
  display: block;
  text-align: center;
  font-size: 14px;
  color: var(--dark-pallete-text);
  opacity: 0.9;
  text-decoration: none;
}

.dark-background {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(37, 37, 38, 1) 0%, rgba(45, 45, 48, 1) 100%);
  background-size: cover;
  position: absolute;
}