<!-- CREATE TASK -->
<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark-5">
            <div class="modal-body">
                <div class="card overflow-auto">

                    <div class="d-flex">
                        <div class="flex-grow-1 card-title mt-2">{{selectedTask!=undefined?(isEditing?'Update task':'#'
                            + selectedTask.number + ': ' + selectedTask.title):'New task'}}</div>
                        <div class="close-card-button" data-bs-dismiss="modal">
                            <em class="bi bi-x"></em>
                        </div>
                    </div>

                    <form [formGroup]="formTask" (ngSubmit)="uploadTask()">

                        <div *ngIf="containError" class="alert alert-danger mt-5"> {{messageError}}
                        </div>

                        <!-- users -->
                        <div class="form-group mb-4 mt-3">
                            <p class="mb-0">Users</p>

                            <form [formGroup]="formAddAssignedUser" (ngSubmit)="addAssignedUsername()">
                                <div class="d-flex">
                                    <!-- input new assigned user -->
                                    <div class="flex-grow-1 form-group me-3">
                                        <input class="form-control {{inputClass(formAddAssignedUser, 'username')}}"
                                            type="text" name="username" list="usersInProject" formControlName="username"
                                            maxlength="30" minlength="2" placeholder="User" />
                                        <div class="invalid-feedback"
                                            *ngIf="formAddAssignedUser.get('username')?.touched && formAddAssignedUser.get('username')?.invalid">
                                            <div *ngIf="formAddAssignedUser.get('username')?.errors?.required">
                                                Cannot be empty</div>
                                            <div *ngIf="formAddAssignedUser.get('username')?.errors?.minlength">
                                                Must containt at least 2 characters</div>
                                            <div *ngIf="formAddAssignedUser.get('username')?.errors?.maxlength">
                                                Only 30 characters are allowed</div>
                                        </div>
                                        <datalist id="usersInProject">
                                            <option *ngFor="let u of usersInProject">{{u.username}}</option>
                                        </datalist>
                                    </div>

                                    <!-- add assigned user -->
                                    <div>
                                        <button class="btn btn-success my-auto" [disabled]="!formAddAssignedUser.valid">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <!-- list assigned users -->
                            <div class="d-flex mx-2 my-3" *ngFor="let user of assignedUsers; let j=index">
                                <ng-container
                                    *ngIf="getProfileImageUrlFromUser(user)!=null && getProfileImageUrlFromUser(user)!=''; else showIconProfile">
                                    <img class="profile-image me-3 my-auto" src="{{getProfileImageUrlFromUser(user)}}"
                                        alt="Profile image">
                                </ng-container>
                                <ng-template #showIconProfile>
                                    <em class="bi bi-person-circle me-3" style="font-size: 35px !important;"></em>
                                </ng-template>
                                <div class="flex-grow-1 center m-text">
                                    @{{user.username}}
                                </div>
                                <div>
                                    <a class="nav-link" (click)="removeAssignedUsername(j)"
                                        ngbTooltip="Delete @{{user.username}}" placement="right" [openDelay]="300">
                                        <em class="bi bi-sm bi-trash-fill"></em>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <!-- childrens -->
                        <div class="form-group mb-4 mt-3">
                            <p class="mb-0">Childrens</p>

                            <!-- input new children task -->
                            <form class="mb-3" [formGroup]="formAddChildrenTask" (ngSubmit)="addChildrenTask()">
                                <div class="d-flex">
                                    <!-- input new assigned user -->
                                    <div class="flex-grow-1 form-group me-3">
                                        <select class="form-select {{inputClass(formAddChildrenTask, 'children')}}"
                                            formControlName="children">
                                            <option *ngFor="let c of myTasks" value="{{c.id}}">#{{c.number}}:
                                                {{c.title}}</option>
                                        </select>
                                    </div>

                                    <!-- add assigned user -->
                                    <div>
                                        <button class="btn btn-success my-auto" [disabled]="!formAddChildrenTask.valid">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <!-- selected childrens -->
                            <div class="d-flex mx-2" *ngFor="let c of selectedChildrens, let j=index">
                                <div class="flex-grow-1 my-auto">#{{c.number}}: {{c.title}}</div>
                                <div>
                                    <a class="nav-link" (click)="removeChildrenTask(j)"
                                        ngbTooltip="Delete #{{c.number}}" placement="right" [openDelay]="300">
                                        <em class="bi bi-sm bi-trash-fill"></em>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- buttons -->
                        <div class="form-group modal-footer">
                            <button type="button" #closebuttonCreateTask class="btn btn-danger"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" [disabled]="!formTask.valid">Create</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<button hidden type="button" #openTaskModal class="btn btn-danger" data-bs-target="#taskModal" data-bs-toggle="modal">
</button>

<!-- CREATE TASK -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark-5">
            <div class="modal-body">
                <div class="card overflow-auto">

                    <!-- title -->
                    <div class="d-flex">
                        <div class="flex-grow-1 card-title mt-2">{{selectedTask!=undefined?(isEditing?'Update task':'#'
                            + selectedTask.number + ': ' + selectedTask.title):'New task'}}</div>
                        <div class="close-card-button" data-bs-dismiss="modal">
                            <em class="bi bi-x"></em>
                        </div>
                    </div>

                    <!-- errors -->
                    <div *ngIf="containError" class="alert alert-danger mt-5">
                        {{messageError}}
                    </div>

                    <!-- VIEW TASK -->
                    <div *ngIf="selectedTask!=undefined && !isEditing" class="container">
                        <div class="row">

                            <!-- left -->
                            <div
                                class="d-flex flex-wrap mt-2 {{((selectedTask.assignedUsers && selectedTask.assignedUsers.length!=0) || (selectedTask.children && selectedTask.children.length!=0))?'col-lg-7':'col-lg-12'}}">

                                <!-- description -->
                                <div class="w-100 d-flex p-2">
                                    <em class="bi bi-card-text my-auto" style="font-size: 20px !important;"></em>
                                    <div class="text-break my-auto mx-2">Description:</div>
                                </div>
                                <div class="w-100 text-break mb-3" style="margin-left: 2.4rem !important;">
                                    {{selectedTask.description}}
                                </div>

                                <!-- estimated time -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedTask.estimatedTime!=null">
                                    <em class="bi bi-hourglass-top my-auto" style="font-size: 20px !important;"></em>
                                    <div class="my-auto mx-2">
                                        Estimated time: {{timeToDoubleString(selectedTask.estimatedTime)}}h
                                    </div>
                                </div>

                                <!-- computed time -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedTask.computedTime!=null">
                                    <em class="bi bi-hourglass-bottom my-auto" style="font-size: 20px !important;"></em>
                                    <div class="my-auto mx-2">
                                        Computed time: {{timeToDoubleString(selectedTask.computedTime)}}h
                                    </div>
                                </div>

                                <!-- importance -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedTask.importance!=null">
                                    <em class="bi bi-stoplights my-auto" style="font-size: 20px !important;"></em>
                                    <div class="my-auto mx-2">
                                        Importance: {{selectedTask.importance}}
                                    </div>
                                </div>

                                <!-- tags -->
                                <div class="w-50 d-flex flex-wrap p-2" *ngIf="selectedTask.tags!=null">
                                    <em class="bi bi-tags my-auto" style="font-size: 20px !important;"></em>
                                    <div class="my-auto mx-2">
                                        Tags:
                                    </div>
                                    <div class="mx-1 my-auto chip" *ngFor="let tag of selectedTask.tags.split(',')">
                                        #{{tag.trim()}}
                                    </div>
                                </div>

                                <!-- start date -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedTask.dueStartDate!=null">
                                    <em class="bi bi-caret-right my-auto" style="font-size: 20px !important;"></em>
                                    <div class="my-auto mx-2">
                                        Due start date: {{getFormatedDate(selectedTask.dueStartDate,'dd/MM/yyyy')}}
                                    </div>
                                </div>

                                <!-- end date -->
                                <div class="w-50 d-flex p-2" *ngIf="selectedTask.dueEndDate!=null">
                                    <em class="bi bi-flag my-auto" style="font-size: 20px !important;"></em>
                                    <div class="my-auto mx-2">
                                        Due end date: {{getFormatedDate(selectedTask.dueEndDate,'dd/MM/yyyy')}}
                                    </div>
                                </div>
                            </div>

                            <!-- right -->
                            <div *ngIf="(selectedTask.assignedUsers && selectedTask.assignedUsers.length!=0) || (selectedTask.children && selectedTask.children.length!=0)"
                                class="col-lg-5 mt-2">

                                <!-- assigned -->
                                <div class="w-100 p-2"
                                    *ngIf="selectedTask.assignedUsers && selectedTask.assignedUsers.length!=0">
                                    <div class="d-flex">
                                        <em class="bi bi-stoplights my-auto" style="font-size: 20px !important;"></em>
                                        <div class="my-auto mx-2">
                                            Assigned:
                                        </div>
                                    </div>
                                    <div class="d-flex mx-1" *ngFor="let u of selectedTask.assignedUsers"
                                        ngbTooltip="@{{u.username}}" placement="right" [openDelay]="300">
                                        <ng-container
                                            *ngIf="getProfileImageUrlFromUser(u)!=null && getProfileImageUrlFromUser(u)!=''; else showIconProfile">
                                            <img *ngIf="getProfileImageUrlFromUser(u)!=null && getProfileImageUrlFromUser(u)!=''"
                                                class="profile-image my-2" src="{{getProfileImageUrlFromUser(u)}}"
                                                alt="@{{u.username}} profile image">
                                        </ng-container>
                                        <ng-template #showIconProfile>
                                            <em class="bi bi-person-circle" style="font-size: 35px !important;"></em>
                                        </ng-template>
                                        <div class="mx-1 my-auto">@{{u.username}}</div>
                                    </div>
                                </div>

                                <!-- childrens -->
                                <div class="w-100 p-2" *ngIf="selectedTask.children && selectedTask.children.length!=0">
                                    <div class="d-flex">
                                        <em class="bi bi-flag my-auto" style="font-size: 20px !important;"></em>
                                        <div class="my-auto mx-2 flex-grow-1">
                                            Childrens:
                                        </div>
                                    </div>
                                    <div class="d-flex mx-2" *ngFor="let c of selectedTask.children, let j=index">
                                        <div class="flex-grow-1 my-auto">#{{c.number}}: {{c.title}}</div>
                                    </div>
                                </div>
                            </div>

                            <!-- actions -->
                            <div class="col-lg-12">

                                <!-- edit button -->
                                <div *ngIf="isEditable && !isEditing && selectedTask!=undefined"
                                    class="w-100 d-flex p-2 mt-2">
                                    <button type="button" class="btn btn-secondary ms-auto d-flex" (click)="edit()">
                                        <em class="bi bi-sm bi-pencil-fill ms-auto me-2"></em>
                                        <div class="my-auto">Edit</div>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- CREATE/UPDATE -->
                    <div *ngIf="isEditable && isEditing" class="container">
                        <div class="row">
                            <form [formGroup]="formTask" (ngSubmit)="uploadTask()">

                                <!-- left -->
                                <div class="col-lg-7 d-flex flex-wrap">

                                    <!-- title -->
                                    <div class="w-100 d-flex p-2">
                                        <div class="my-auto">Title:</div>
                                        <input class="form-control {{inputClass(formTask, 'title')}}" type="text"
                                            name="title" formControlName="title" maxlength="50" minlength="2"
                                            placeholder="" />
                                        <div class="invalid-feedback"
                                            *ngIf="formTask.get('title')?.touched && formTask.get('title')?.invalid">
                                            <div *ngIf="formTask.get('title')?.errors?.required">Cannot be empty</div>
                                            <div *ngIf="formTask.get('title')?.errors?.minlength">Must containt at least
                                                2
                                                characters</div>
                                            <div *ngIf="formTask.get('title')?.errors?.maxlength">Only 50 characters are
                                                allowed</div>
                                        </div>
                                    </div>

                                    <!-- description -->
                                    <div class="w-100 d-flex p-2">
                                        <em class="bi bi-card-text my-auto" style="font-size: 20px !important;"></em>
                                        <div class="my-auto mx-2">Description:</div>
                                    </div>
                                    <textarea class="form-control {{inputClass(formTask, 'description')}}"
                                        formControlName="description" maxlength="255" rows="3">
                                    </textarea>
                                    <div class="invalid-feedback"
                                        *ngIf="formTask.get('description')?.touched && formTask.get('description')?.invalid">
                                        <div *ngIf="formTask.get('description')?.errors?.maxlength">Only 255 characters
                                            are
                                            allowed</div>
                                    </div>

                                    <!-- estimated time -->
                                    <div class="w-50 d-flex p-2">
                                        <em class="bi bi-hourglass-top my-auto"
                                            style="font-size: 20px !important;"></em>
                                        <input class="form-control {{inputClass(formTask, 'estimatedTime')}}"
                                            type="number" step="0.5" formControlName="estimatedTime" min="0"
                                            value="0" />
                                        <div class="invalid-feedback"
                                            *ngIf="formTask.get('estimatedTime')?.touched && formTask.get('estimatedTime')?.invalid">
                                            <div *ngIf="formTask.get('estimatedTime')?.errors?.min">Cannot be negative
                                                time
                                            </div>
                                        </div>
                                    </div>

                                    <!-- importance -->
                                    <div class="w-50 d-flex p-2">
                                        <em class="bi bi-stoplights my-auto" style="font-size: 20px !important;"></em>
                                        <div class="my-auto mx-2">
                                            Importance:
                                        </div>
                                        <input class="form-control {{inputClass(formTask, 'importance')}}" type="text"
                                            name="importance" formControlName="importance" list="impDataLs"
                                            maxlength="50" placeholder="" />
                                        <div class="invalid-feedback"
                                            *ngIf="formTask.get('importance')?.touched && formTask.get('importance')?.invalid">
                                            <div *ngIf="formTask.get('importance')?.errors?.maxlength">Only 50
                                                characters
                                                are
                                                allowed</div>
                                        </div>
                                        <!-- importance data list (new & update task) -->
                                        <datalist id="impDataLs">
                                            <option>Very high</option>
                                            <option>High</option>
                                            <option>Medium</option>
                                            <option>Low</option>
                                            <option>Very low</option>
                                        </datalist>
                                    </div>

                                    <!-- tags -->
                                    <div class="w-50 d-flex flex-wrap p-2">
                                        <em class="bi bi-tags my-auto" style="font-size: 20px !important;"></em>
                                        <div class="my-auto mx-2">
                                            Tags:
                                        </div>
                                        <input class="form-control {{inputClass(formTask, 'tags')}}" type="text"
                                            formControlName="tags" maxlength="255" placeholder="" />
                                        <div class="invalid-feedback"
                                            *ngIf="formTask.get('tags')?.touched && formTask.get('tags')?.invalid">
                                            <div *ngIf="formTask.get('tags')?.errors?.maxlength">Only 255 characters are
                                                allowed</div>
                                        </div>
                                    </div>

                                    <!-- start date -->
                                    <div class="w-50 d-flex p-2">
                                        <em class="bi bi-caret-right my-auto" style="font-size: 20px !important;"></em>
                                        <div class="my-auto mx-2">
                                            Due start date:
                                        </div>
                                        <input class="form-control {{inputClass(formTask, 'dueStartDate')}}" type="date"
                                            formControlName="dueStartDate" placeholder="" />
                                    </div>

                                    <!-- end date -->
                                    <div class="w-50 d-flex p-2">
                                        <em class="bi bi-flag my-auto" style="font-size: 20px !important;"></em>
                                        <div class="my-auto mx-2">
                                            Due end date:
                                        </div>
                                        <input class="form-control {{inputClass(formTask, 'dueEndDate')}}" type="date"
                                            formControlName="dueEndDate" placeholder="" min="" />
                                    </div>

                                </div>

                                <!-- right -->
                                <div class="col-lg-5">

                                </div>

                                <!-- actions -->
                                <div class="col-lg-12 form-group d-flex flex-row-reverse">
                                    <button type="button" class="btn btn-danger" (click)="edit()">Close</button>
                                    <button type="submit" class="btn btn-success me-2"
                                        [disabled]="!formTask.valid">{{selectedTask==undefined?'Create':'Edit'}}</button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>