/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root{
    --dark-pallete-0:#007acc;
    --dark-pallete-1:#4b4b4e;
    --dark-pallete-2:#3d3d41;
    --dark-pallete-3:#2d2d30;
    --dark-pallete-4:#252526;
    --dark-pallete-5:#1e1e1e;
    --dark-pallete-text:#6f7a85;
}

.bg-dark-0{
    background-color: var(--dark-pallete-0) !important;
}
.bg-dark-1{
    background-color: var(--dark-pallete-1) !important;
}
.bg-dark-2{
    background-color: var(--dark-pallete-2) !important;
}
.bg-dark-3{
    background-color: var(--dark-pallete-3) !important;
    color: var(--dark-pallete-text) !important;
}
.bg-dark-4{
    background-color: var(--dark-pallete-4) !important;
    color: var(--dark-pallete-text) !important;
}
.bg-dark-5{
    background-color: var(--dark-pallete-5) !important;
    color: var(--dark-pallete-text) !important;
}

.icon .dark-text {
    color: var(--dark-pallete-text) !important;
}