<div class="login-dark overflow-auto">

    <form [formGroup]="formRegister" (ngSubmit)="onRegister()">

        <div *ngIf="isLoginFail" class="alert alert-danger mt-5"> {{messageError}}</div>

        <div style="text-align: center; font-size: 80px;">
            <em class="bi bi-person-plus icon"></em>
        </div>

        <div class="form-group">
            <input class="form-control {{inputClass(formRegister, 'name')}}" type="text" name="name" id="name"
                formControlName="name" maxlength="20" minlength="2" placeholder="First Name" />
            <div class="invalid-feedback"
                *ngIf="formRegister.get('name')?.touched && formRegister.get('name')?.invalid">
                <div *ngIf="formRegister.get('name')?.errors?.required">Cannot be empty</div>
                <div *ngIf="formRegister.get('name')?.errors?.minlength">Must containt at least 2 characters</div>
                <div *ngIf="formRegister.get('name')?.errors?.maxlength">Only 20 characters are allowed</div>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control {{inputClass(formRegister, 'lastName')}}" type="text" name="lastName"
                id="lastName" formControlName="lastName" maxlength="50" placeholder="Last Name" />
            <div class="invalid-feedback"
                *ngIf="formRegister.get('lastName')?.touched && formRegister.get('lastName')?.invalid">
                <div *ngIf="formRegister.get('lastName')?.errors?.required">Cannot be empty</div>
                <div *ngIf="formRegister.get('lastName')?.errors?.minlength">Must containt at least 2 characters</div>
                <div *ngIf="formRegister.get('lastName')?.errors?.maxlength">Only 50 characters are allowed</div>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control {{inputClass(formRegister, 'email')}}" type="text" name="email" id="email"
                formControlName="email" maxlength="50" email placeholder="Email" />
            <div class="invalid-feedback"
                *ngIf="formRegister.get('email')?.touched && formRegister.get('email')?.invalid">
                <div *ngIf="formRegister.get('email')?.errors?.required">Cannot be empty</div>
                <div *ngIf="formRegister.get('email')?.errors?.email">Must be email format</div>
                <div *ngIf="formRegister.get('email')?.errors?.maxlength">Only 50 characters are allowed</div>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control {{inputClass(formRegister, 'username')}}" type="text" name="username"
                id="username" formControlName="username" maxlength="15" placeholder="Username" pattern="^[a-z0-9]+$" />
            <div class="invalid-feedback"
                *ngIf="formRegister.get('username')?.touched && formRegister.get('username')?.invalid">
                <div *ngIf="formRegister.get('username')?.errors?.required">Cannot be empty</div>
                <div *ngIf="formRegister.get('username')?.errors?.pattern">Must contain only lower case characters and
                    numbers</div>
                <div *ngIf="formRegister.get('username')?.errors?.maxlength">Only 15 characters are allowed</div>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control {{inputClass(formRegister, 'password')}}" type="password" name="password"
                id="password" formControlName="password" minlength="8" maxlength="50" placeholder="Password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{8,50}$" />
            <div class="invalid-feedback"
                *ngIf="formRegister.get('password')?.touched && formRegister.get('password')?.invalid">
                <div *ngIf="formRegister.get('password')?.errors?.required">Cannot be empty</div>
                <div *ngIf="formRegister.get('password')?.errors?.pattern">Must contain upper and lower case letters,
                    numbers and special characters</div>
                <div *ngIf="formRegister.get('password')?.errors?.minlength">Must contain at least 8 characters</div>
                <div *ngIf="formRegister.get('password')?.errors?.maxlength">Only 50 characters are allowed</div>
            </div>
        </div>

        <div class="form-group">
            <select class="form-control {{inputClass(formRegister, 'country')}}" formControlName="country">
                <option class="dark-text" value="" disabled>Country</option>
                <option class="dark-text" *ngFor="let country of countries" [ngValue]="country">{{country}}</option>
            </select>
            <div class="invalid-feedback"
                *ngIf="formRegister.get('country')?.touched && formRegister.get('country')?.invalid">
                <div *ngIf="formRegister.get('country')?.errors?.required">Cannot be empty</div>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control {{inputClass(formRegister, 'sector')}" type="text" name="sector" id="sector" formControlName="sector" maxlength="20"
                placeholder="Sector" />
            <div class="invalid-feedback"
                *ngIf="formRegister.get('sector')?.touched && formRegister.get('sector')?.invalid">
                <div *ngIf="formRegister.get('sector')?.errors?.required">Cannot be empty</div>
                <div *ngIf="formRegister.get('sector')?.errors?.maxlength">Only 20 characters are allowed</div>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="!formRegister.valid" class="btn btn-success w-100 mt-3">Register</button>
        </div>

        <div class="forgot mt-3">or</div>

        <div class="form-group">
            <button onclick="window.location.href='/login'" class="btn btn-primary w-100 mt-3">Login</button>
        </div>

    </form>

</div>